/* Global CSS variables */
:root {
  /* Brand colors (from your logo) */
  --green: rgb(138, 186, 78); /* Willow green*/
  --blue: rgb(25, 100, 126); /* Blue slate */
  --teal: rgb(40, 175, 176); /* Tropical teal */
  --beige: rgb(238, 150, 75); /* Sandy Brown */
  --dark: rgb(31, 39, 27); /* Charcoal brown */
  --white: rgb(250, 255, 248); /* Charcoal brown */

  /* UI */
  --radius-lg: 24px; 
  --radius-md: 16px;
  --radius-sm: 10px;

  /* Spacing */
  --section-padding: 6rem;

  /* Transitions (Squarespace-like) */
  --ease-soft: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
