.hero {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  min-height: 50vh;
  background: var(--blue);
}

/* ================= LEFT ================= */

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 5.5rem !important;
}
 
.left h1 {
  font-size: 2.9rem;
  font-weight: 600;
  color: var(--white);
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.left p {
  font-size: 1.2rem;
  color: var(--white);
  max-width: 610px;
  margin-bottom: 1.5rem !important;
}

/* ================= BUTTONS ================= */

.buttons {
  display: flex;
  gap: 1rem;
}

.primary {
  background: var(--green);
  color: var(--white);
  padding: 1rem 1.8rem;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s ease;
}

.primary:hover {
  background: var(--teal);
}

.secondary {
  border: 2px solid var(--green);
  color: var(--white);
  padding: 1rem 1.8rem;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.secondary:hover {
  background: var(--teal);
  color: var(--white);
  border-color: var(--white);
}

/* ================= RIGHT ================= */

.right {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 0;
  }

  .left h1 {
  font-size: 27px;
  font-weight: 600;
  color: var(--white);
  line-height: 1.2;
  margin-bottom: 0;
}

.left p {
  font-size: 13px;
  color: var(--white);
  max-width: 700px;
  margin: 0;
}

  /* TEXT ON TOP */
  .left {
    order: 1;
    padding: 0 !important;
    text-align: center;
    align-items: center;
  }

  /* IMAGE BELOW */
  .right {
    order: 2;
    position: relative;
    height: 420px; /* important so image shows correctly */
  }

  .image {
    object-fit: cover;
  }

  .buttons {
    justify-content: center;
    flex-wrap: wrap;
  }
}
